
{% extends 'index.html' %}
{% load static %}  

{% block content %} 




<style>

    .want_to_buy{
        display: none;
    }
    .display{
        display: none;
    }
    .property-search{
        display: none;
    }
    .featured{
        display: none;
    }
    .personal_detail{
        display: none;
    }


    </style>



{% for message in messages %}
{{ message}}
{% endfor %}


      

<nav class="navbar navbar-expand-lg navbar-dark "  style="margin-top: 50px; background-color: #7abecc; padding: 30px; ">
	<div class="container-fluid">
	  <a href="{% url 'accounts:dashboard' %}" class="navbar-brand btn btn-dark" style="font-size: 22px;" >Dashboard</a>

	 
	  <!-- Example single danger button -->

	  <div class="collapse navbar-collapse" id="navbarNavDarkDropdown" style="align-items: center;">
		<div class="btn-group">
			<button type="button" class="btn btn-dark" style="font-size: 22px;">My Account</button>
			<button type="button" class="btn btn-dark dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
			  <!--<span class="visually-hidden">Toggle Dropdown</span>-->
			</button>
			<ul class="dropdown-menu" style="background: #fff; color: #000; width: 250px; color: #fff;">

			  <li><a class="dropdown-item" href="{% url 'accounts:update_info' %}">Account Setting</a></li>
			  <li><a  class="dropdown-item" type="button" >Reset Password</a></li>
			  <li><a class="dropdown-item" href="{% url 'accounts:logout' %}">Logout</a></li>
			  
			</ul>
		  </div>
	  </div>
	</div>
  </nav>





  <div class="container">
    <div class="row">
        <div class="col-md-12" style="margin-top: 20px;">
            <h3 style="margin-top: 20px 20px; color: #0076AD;">Account Setting</h3>
          <p style="color: #000; font-size: 18px; font-weight: 600; font-family: 'Times New Roman', serif;">Please make sure your contact information is accurate. This will ensure that you get important notifications regarding your account and email updates on your saved searches, saved properties, and market reports.</p>
 
        </div>

    </div>
</div>




{% if user %}

<div id="form2" class="container form2" style="width: 700px;  background-color: #e9ecef; align-items: center; text-align: center; margin-top: 50px;">
    <h3 style="margin-top: 20px 20px; color: #0076AD;">Account Setting Form</h3>
         
     <form action="" method="POST" class="row g-3">
      {% csrf_token %}
      <div class="row">
          <div class="col-md-6">
            <div class="col-md-12">
                <label for="inputEmail4" class="form-label" >Username</label>
                <input type="text" class="form-control" id="inputusername" name="{{user.username}}"  style="text-align: center;">
       
              </div>
              <div class="col-md-12">
                <label for="inputPassword4" class="form-label">First name</label>
                <input type="text" class="form-control" id="inputfirst_name" name="{{user.first_name}}"  >
              </div>
              <div class="col-md-12">
                <label for="inputPassword4" class="form-label">Last name</label>
                <input type="text" class="form-control" id="inputlast_name" name="{{user.last_name}}"  >
              </div>
          
            <div class="col-md-12">
                <label for="inputEmail4" class="form-label">Email</label>
                <input type="email" class="form-control" id="inputlast_name" name="{{user.email}}"  >
         
              </div>
      
            <div class="col-md-12">
              <label for="inputPassword4" class="form-label">Phone</label>
              <input type="text" class="form-control" id="inputNumber" name="{{user.customer.phone}}" >
            </div>
            
          
              <hr>

          </div>
          <div class="col-md-6">
            <div class="col-md-12">
                <label for="inputEmail4" class="form-label" >Address</label>
                <input type="text" class="form-control" id="inputusername" name="address" placeholder="123 main st" style="text-align: center;">
       
              </div>
              <div class="col-md-12">
                <label for="inputPassword4" class="form-label">City</label>
                <input type="text" class="form-control" id="inputfirst_name" name="city" placeholder="city" >
              </div>
              <div class="col-md-12">
                <label for="inputPassword4" class="form-label">State</label>
                <input type="text" class="form-control" id="inputlast_name" name="state" placeholder="state" >
              </div>
              <div class="col-md-12">
                <label for="inputPassword4" class="form-label">Password</label>
                <input type="password" class="form-control" id="inputPassword4" name="password1" placeholder="Password">
              </div>
              <div class="col-md-12">
                <label for="inputPassword4" class="form-label">Password</label>
                <input type="text" class="form-control" id="inputPassword4" name="password2" placeholder="Repeat Password">
              </div>
           
          </div>
          <div class="col-md-6">
            {{ form1.first_name}}
            </div>
      </div>

      <div class="col-12" >
       
      <button type="submit" class="btn btn-danger">Save Changes</button>

       
      </div>
    </form>

</div>

{% endif %}




   

 <!-- Example single danger button -->

 <div class="collapse navbar-collapse" id="navbarNavDarkDropdown" style="align-items: center;">
    <div class="btn-group">
        <button type="button" class="btn btn-dark">My Account</button>
        <button type="button" class="btn btn-dark dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
          <!--<span class="visually-hidden">Toggle Dropdown</span>-->
        </button>
        <ul class="dropdown-menu" style="background: #fff; color: #000; width: 250px; color: #fff;">

          <li><a class="dropdown-item" href="{% url 'accounts:update_info' %}">Account Setting</a></li>
          <li><a  class="dropdown-item" type="button" >Reset Password</a></li>
          <li><a class="dropdown-item" href="{% url 'accounts:logout' %}">Logout</a></li>
          
        </ul>
      </div>
  </div>




{% endblock %}

  




