
{% extends 'index.html' %}
{% load static %}  

{% block content %} 




<style>

    .want_to_buy{
        display: none;
    }
    .display{
        display: none;
    }
    .property-search{
        display: none;
    }
    .featured{
        display: none;
    }


    </style>

<div class="container">
    <div class="row">
        <div class="col-md-6"></div>

        <div class="col-md-6"></div>
    </div>
</div>





<div id="form2" class="container form2" style="width: 700px;  background-color: #e9ecef; align-items: center; text-align: center; margin-top: 50px;">

    <h3 style="margin-top: 20px 20px; color: #0076AD;">Sing Up Form</h3>
  <form action="" method="POST" class="row g-3">
      {% csrf_token %}
      <div class="row">
          <div class="col-md-6">
            <div class="col-md-12">
                <label for="inputEmail4" class="form-label" >Username</label>
                <input type="text" class="form-control" id="inputusername" name="username" placeholder="username" style="text-align: center;">
       
              </div>
              <div class="col-md-12">
                <label for="inputPassword4" class="form-label">First name</label>
                <input type="text" class="form-control" id="inputfirst_name" name="first_name" placeholder="First name" >
              </div>
              <div class="col-md-12">
                <label for="inputPassword4" class="form-label">Last name</label>
                <input type="text" class="form-control" id="inputlast_name" name="last_name" placeholder="Last name" >
              </div>
          
            <div class="col-md-12">
                <label for="inputEmail4" class="form-label">Email</label>
                <input type="email" class="form-control" id="inputlast_name" name="email" placeholder="Email" >
         
              </div>
      
            <div class="col-md-12">
              <label for="inputPassword4" class="form-label">Phone</label>
              <input type="text" class="form-control" id="inputNumber" name="phone" placeholder="Phone Number" >
            </div>
            
            <div class="col-md-12">
                <label for="inputPassword4" class="form-label">Password</label>
                <input type="password" class="form-control" id="inputPassword4" name="password1" placeholder="Password">
              </div>
              <div class="col-md-12">
                <label for="inputPassword4" class="form-label">Password</label>
                <input type="text" class="form-control" id="inputPassword4" name="password2" placeholder="Repeat Password">
              </div>
              <hr>

          </div>
          <div class="col-md-6">
            <div class="col-md-12">
                <label for="inputEmail4" class="form-label" >Username</label>
                <input type="text" class="form-control" id="inputusername" name="username" placeholder="username" style="text-align: center;">
       
              </div>
              <div class="col-md-12">
                <label for="inputPassword4" class="form-label">First name</label>
                <input type="text" class="form-control" id="inputfirst_name" name="first_name" placeholder="First name" >
              </div>
              <div class="col-md-12">
                <label for="inputPassword4" class="form-label">Last name</label>
                <input type="text" class="form-control" id="inputlast_name" name="last_name" placeholder="Last name" >
              </div>
          
            <div class="col-md-12">
                <label for="inputEmail4" class="form-label">Email</label>
                <input type="email" class="form-control" id="inputlast_name" name="email" placeholder="Email" >
         
              </div>
              <div class="col-md-12">
                <label for="inputPassword4" class="form-label">Phone</label>
                <input type="text" class="form-control" id="inputNumber" name="phone" placeholder="Phone Number" >
              </div>
          </div>
      </div>

      <div class="col-12" >
       
      <button type="submit" class="btn btn-danger">Sign Up!</button>

       
      </div>
    </form>

</div>





   






{% endblock %}

  




