
{% extends 'index.html' %}
{% load static %}  

{% block content %} 




<style>

    .want_to_buy{
        display: none;
    }
    .display{
        display: none;
    }
    .property-search{
        display: none;
    }
    .featured{
        display: none;
    }


.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
}

.flex-item-left {
  flex: 50%;
}

.flex-item-right {
  flex: 50%;
}
.card-image{
    width: 300px;
    height: 280px;
    margin-left: 20px;
}
.card-image img{
    width: 100%;
    height: 100%;
}
.property-information{
    margin-left: 20px;
}
.property-address h2{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
  
    color: #0076AD;
    margin-left: 10px;
}
.property-information h3{
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;

}
.property-information span{
    color: green;
}
.right{
    margin-left: 50px;
}
.search-result{
    margin-left: 30px;
}
.search-section .description{
    font-size: 15px;
    color: #333;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 30px;
    margin-left: 30px;
}
.btn-groupy{
    margin-top: 5px;
    margin-bottom: 70px;
    margin-left: auto; 
    margin-right: 20;
    right: -50px;
   
    
}


/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .flex-item-right, .flex-item-left {
    flex: 100%;
  }
}
    </style>



{% for message in messages %}
{{ message}}
{% endfor %}


<nav class="navbar navbar-expand-lg navbar-dark "  style="margin-top: 50px; background-color: #0076AD; padding: 40px; ">
	<div class="container-fluid">
	  <button class="navbar-brand btn btn-dark" style="font-size: 22px;" >Dashboard</button>

	 
	  <!-- Example single danger button -->

	  <div class="collapse navbar-collapse" id="navbarNavDarkDropdown" style="align-items: center;">
		<div class="btn-group">
			<button type="button" class="btn btn-dark">My Account</button>
			<button type="button" class="btn btn-dark dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
			  <!--<span class="visually-hidden">Toggle Dropdown</span>-->
			</button>
			<ul class="dropdown-menu" style="background: #fff; color: #000; width: 250px; color: #fff;">

			  <li><a class="dropdown-item" href="{% url 'accounts:update_info' %}">Account Setting</a></li>
			  <li><a  class="dropdown-item" type="button" >Reset Password</a></li>
			  <li><a class="dropdown-item" href="{% url 'accounts:logout' %}">Logout</a></li>
			  
			</ul>
		  </div>
	  </div>
	</div>
  </nav>



{% if user %}
<div class="row">
	<div class="col-md" style="margin-top: 50px;">
		<div class="card card-body">
			<h5>Contact Information</h5>
			<hr>
			<p>username: {{user.username}}</p>
			<p>first name: {{user.first_name}}</p>
			<p>Phone: {{user.customer.phone}}</p>
		
			<p>Email: {{user.email}}</p>
		</div>
	</div>
{% endif %}



<div class="search-section">
    
    <h1 class="search-result">Wish Item List</h1>


  
<div class="flex-container">
    
   
  <div>
  

    <div class="property-flex">
        
        <a href="">
        <div class="card-image ">
            <img src="{{ result.product.img.url }}" alt="">
        </div>
        </a>
    </div>
  </div>
  <div>
      <div class="property-information">
         <a href="">
            <div class="property-address">
                <h2>{{result.product.Location }}</h2>
            </div>
         </a>
          <div class="property-information">
              <h3>Price:<span>${{result.product.price }}</span></h3>
              <h3>bedroom:{{result.product.bedroom }}</h3>
              <h3>bathroom:{{result.product.bathroom }}</h3>
              <h3>Sqft:{{result.product.sqft }}</h3>
              <h3>Acres:{{result.product.acre}}</h3>
              <h3>Date Saved: {{result.ordered_date}}</h3>
             
          </div>
      </div>
  </div>
  <div class="property-information">
      <h3 class="right">{{ result.product.listing_id }}</h3>
      <!--<h3 class="right">Listing ID50044316PBMLS-RETS</h3>-->
  </div>  
  <div class="property-information">
    <h3 class="center">{{ result.product.release_date }}</h3>
    
</div>  
</div>
<h3 class="description"> {{result.product.describe }}</h3>


</div>









   





<div class="row">
	
	<div class="col-md-7">
		
	
		<hr>
		<div class="card card-body">
			
			
			<table class="table table-sm" style="margin-top: 30px;">
				<tr>
					<th>No</th>
					<th>Product</th>
					<th>Price</th>
					
                    <th>No of workers </th>
					<th>Total Amount </th>
					<th>Paid</th>
                    <th>Date Orderd</th>
					<!--<th>Final Amount </th>-->
				</tr>

              
                <tr>
					<td>{{ forloop.counter }}</td>
					<td>{{ order_item.product.name }}</td>
                    <td>{{ order_item.product.price }}</td>
					<td style="text-align: center;">
						<!--<p><strong><i class="fas fa-arrow-up"></i></strong></p>
								<img data-product="{{ item.product.id }}" data-action="add" class="chg-quantity update-cart" src="{% static 'images/arrow-up.png' %}" alt="" style="background-color: green; font-size: x-large;">-->
								
							<!--<img data-product="{{ item.product.id }}" data-action="remove" class="chg-quantity update-cart" class="chg-quantity" src="{% static 'images/arrow-down.png' %}" alt="" style="background-color: green;">
							<i class="fas fa-sort"></i>-->
		

							{{ order_item.quantity }}

					
					</td>		
					
					<td>{{order_item.get_total_item_price}}</td>
					<td>{{order_item.ordered}}</td>

					<td>{{order_item.date_created}}</td>
				

					<!--<td>{{order_item.get_final_price}}</td>
					<td style="color: tomato;">{{order_item.id}}</td>
					<td style="color: blue;">{{order_item.pk}}</td>-->
		
					
					<td><a class="btn btn-sm btn-info" style="padding: 4px;" href="">Update</a></td>

					<td><a class="btn btn-sm btn-danger" style="padding: 4px;" href="">Delete</a></td>
				</tr>
	

		
		
		
	
		   {% if order.get_total_price  %}
		   <tr  style="background-color: black; padding: 30px;">
			<td></td>
	   
			   <td colspan="3" ><b style="color: whitesmoke;"> Amount Before Tax /Amount payable</b></td>
			   <td style="color: whitesmoke;"><b>{{ order.get_total_price }}</b></td>
			     
			   
		   
		   </tr>
		   {% endif %}
	
	
			</table>
			
		
		</div>
			
		</div>
		
	</div>
</div>







   
  


<div class="search-section">
    
    <h1 class="search-result">Wish Item List</h1>

 
<div class="flex-container">
    
   
  <div>
  

    <div class="property-flex">
        
        <a href="{% url 'product:image_gallery' result.id %}">
        <div class="card-image ">
            <img src="{{ result.img.url }}" alt="">
        </div>
        </a>
    </div>
  </div>
  <div>
      <div class="property-information">
         <a href="{% url 'product:image_gallery' result.id %}">
            <div class="property-address">
                <h2>{{result.Location }}</h2>
            </div>
         </a>
          <div class="property-information">
              <h3>Price:<span>${{result.price }}</span></h3>
              <h3>bedroom:{{result.bedroom }}</h3>
              <h3>bathroom:{{result.bathroom }}</h3>
              <h3>Sqft:{{result.sqft }}</h3>
              <h3>Acres:{{result.acre}}</h3>
              <h3>SubdivisionSee Legal Description Below.</h3>
             
          </div>
      </div>
  </div>
  <div class="property-information">
      <h3 class="right">{{ result.listing_id }}</h3>
      <!--<h3 class="right">Listing ID50044316PBMLS-RETS</h3>-->
  </div>  
  <div class="property-information">
    <h3 class="center">{{ result.release_date }}</h3>
    
</div>  
</div>
<h3 class="description"> {{result.describe }}</h3>


</div>















 









{% if user %}
<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>Customer:</h5>
			<hr>
			<a class="btn btn-outline-info  btn-sm btn-block" href="">Update Your information</a>
			<a class="btn btn-outline-info  btn-sm btn-block" href="">Place Order</a>

		</div>
	</div>


	<div class="col-md">
		<div class="card card-body">
			<h5>Contact Information</h5>
			<hr>
			<p>username: {{user.username}}</p>
			<p>first name: {{user.first_name}}</p>
			<p>Phone: {{user.details.phone}}</p>
		
			<p>Email: {{user.email}}</p>
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Total Orders</h5>
			<hr>
			<h1 style="text-align: center;padding: 10px">{{ order.get_total_count }}</h1>
		</div>
	</div>


{% endif %}




<br><br>
{%  include 'status.html' %}
<link rel="stylesheet" href="{% static 'css/cs.css' %}" >

<br>








<br>


   





<div class="row">
	<div class="col-md-5">
		
	<br>
	<br>
		<div class="card card-body">
			<!--<td colspan="4"><a href="{% url 'products:handle_confirmation' %}" class="btn btn-danger" style="color: whitesmoke; float: right; font-size: 25px;">View paid services</a>-->
			<a class="btn btn-primary  btn-sm btn-block" style="color: whitesmoke; float: right; font-size: 20px;" href="">Your previous  Paid Services</a>
			<table class="table table-sm">
				<tr>
					<th></th>
					
					
				</tr>

				<!--{% for customer in customers %}
					<tr>
						<td><a class="btn btn-sm btn-info" href="">View</a></td>
						<td>{{user.username}}</td>
						<td>{{customer.phone}}</td>
					</tr>
				
				{% endfor %}-->

			</table>
		</div>
	</div>
	<!--<td><b>{{ object.get_total_count }}</b></td>-->

	<div class="col-md-7">
		
		<h5>YOUR LASTEST  ORDERS</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="">Create Order</a>
			
			<table class="table table-sm" style="margin-top: 30px;">
				<tr>
					<th>No</th>
					<th>Product</th>
					<th>Price</th>
					
                    <th>No of workers </th>
					<th>Total Amount </th>
					<th>Paid</th>
                    <th>Date Orderd</th>
					<!--<th>Final Amount </th>-->
				</tr>

               
                <tr>
					<td>{{ forloop.counter }}</td>
					<td>{{ order_item.product.name }}</td>
                    <td>{{ order_item.product.price }}</td>
					<td style="text-align: center;">
						<!--<p><strong><i class="fas fa-arrow-up"></i></strong></p>
								<img data-product="{{ item.product.id }}" data-action="add" class="chg-quantity update-cart" src="{% static 'images/arrow-up.png' %}" alt="" style="background-color: green; font-size: x-large;">-->
								
							<!--<img data-product="{{ item.product.id }}" data-action="remove" class="chg-quantity update-cart" class="chg-quantity" src="{% static 'images/arrow-down.png' %}" alt="" style="background-color: green;">
							<i class="fas fa-sort"></i>-->
		

						<!--<strong><a href="{% url 'products:add_item' order_item.pk %}"><i class="fas fa-sort-up"></i></a></strong>-->
						{{ order_item.quantity }}

					
					</td>		
					
					<td>{{order_item.get_total_item_price}}</td>
					<td>{{order_item.ordered}}</td>

					<td>{{order_item.date_created}}</td>
				

					<!--<td>{{order_item.get_final_price}}</td>
					<td style="color: tomato;">{{order_item.id}}</td>
					<td style="color: blue;">{{order_item.pk}}</td>-->
		
					
					<td><a class="btn btn-sm btn-info" style="padding: 4px;" href="">Update</a></td>

					<td><a class="btn btn-sm btn-danger" style="padding: 4px;" href="">Delete</a></td>
				</tr>
	

		
		
		
		
		<!--<tr style="margin-top: 40px; padding: 40px;">
			<td style="margin-bottom: 40px;"></td>
			
			   <td colspan="3" ><b>VAT </b></td>
			   <td><b>100</b></td>
			   <td><b>{{ order.get_vat }}</b></td>
			    
		   </tr>-->
		   {% if order.get_total_price  %}
		   <tr  style="background-color: black; padding: 30px;">
			<td></td>
	   
			   <td colspan="3" ><b style="color: whitesmoke;"> Amount Before Tax /Amount payable</b></td>
			   <td style="color: whitesmoke;"><b>{{ order.get_total_price }}</b></td>
			   <td colspan="4"><a href="{% url 'products:payment' %}" class="btn btn-danger" style="color: whitesmoke; float: right;"> Pay Now</a>
		   
			   
		   
		   </tr>
		   {% endif %}
		
	
			</table>
			
		
		</div>
			
		</div>
		
	</div>
</div>




{% endblock %}