
{% extends 'index.html' %}
{% load static %}  

{% block content %} 




<style>

    .want_to_buy{
        display: none;
    }
    .display{
        display: none;
    }
    .property-search{
        display: none;
    }
    .featured{
        display: none;
    }


.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
}

.flex-item-left {
  flex: 50%;
}

.flex-item-right {
  flex: 50%;
}
.card-image{
    width: 300px;
    height: 280px;
    margin-left: 20px;
}
.card-image img{
    width: 100%;
    height: 100%;
}
.property-information{
    margin-left: 20px;
}
.property-address h2{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
  
    color: #0076AD;
    margin-left: 10px;
}
.property-information h3{
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;

}
.property-information span{
    color: green;
}
.right{
    margin-left: 50px;
}
.search-result{
    margin-left: 30px;
}
.search-section .description{
    font-size: 15px;
    color: #333;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 30px;
    margin-left: 30px;
}
.btn-groupy{
    margin-top: 5px;
    margin-bottom: 70px;
    margin-left: auto; 
    margin-right: 20;
    right: -50px;
   
    
}
.contar{
    margin-left: 30px;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .flex-item-right, .flex-item-left {
    flex: 100%;
  }
}
    </style>



<nav class="navbar navbar-expand-lg navbar-dark "  style="margin-top: 50px; background-color: #0076AD; padding: 50px;">
	<div class="container-fluid">
	  <a class="navbar-brand" href="#" style="text-align: right;">Navbar</a>
	  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
		<ul class="navbar-nav">
		  <li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" style="text-align: right;" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
			  Dropdown
			</a>
			<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink" style="align-items:right">
			  <li><a class="dropdown-item" href="#">Action</a></li>
			  <li><a class="dropdown-item" href="#">Another action</a></li>
			  <li><a class="dropdown-item" href="#">Something else here</a></li>
			</ul>
		  </li>
		</ul>
	  </div>
	</div>
  </nav>



{% if user %}
<div class="row">
	<!--<div class="col-md">
		<div class="card card-body">
			<h5>Customer:</h5>
			<hr>
			<a class="btn btn-outline-info  btn-sm btn-block" href="">Update Your information</a>
			<a class="btn btn-outline-info  btn-sm btn-block" href="">Place Order</a>

		</div>
	</div>-->


	<div class="col-md">
		<div class="card card-body">
			<h5>Contact Information</h5>
			<hr>
			<p>username: {{user.username}}</p>
			<p>first name: {{user.first_name}}</p>
			<p>Phone: {{user.details.phone}}</p>
		
			<p>Email: {{user.email}}</p>
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Total Orders</h5>
			<hr>
			<h1 style="text-align: center;padding: 10px">{{ order.get_total_count }}</h1>
		</div>
	</div>


{% endif %}




<br><br>
{%  include 'status.html' %}
<link rel="stylesheet" href="{% static 'styles/cs.css' %}" >

<br>








<br>


   





<div class="row">
	<div class="col-md-5">
		
	<br>
	<br>
		<div class="card card-body">
				<table class="table table-sm">
				<tr>
					<th></th>
					
					
				</tr>

				<!--{% for customer in customers %}
					<tr>
						<td><a class="btn btn-sm btn-info" href="">View</a></td>
						<td>{{user.username}}</td>
						<td>{{customer.phone}}</td>
					</tr>
				
				{% endfor %}-->

			</table>
		</div>
	</div>
	<!--<td><b>{{ object.get_total_count }}</b></td>-->

	<div class="col-md-7">
		
		<h5>YOUR LASTEST  ORDERS</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="">Create Order</a>
			
			<table class="table table-sm" style="margin-top: 30px;">
				<tr>
					<th>No</th>
					<th>Product</th>
					<th>Price</th>
					
                    <th>No of workers </th>
					<th>Total Amount </th>
					<th>Paid</th>
                    <th>Date Orderd</th>
					<!--<th>Final Amount </th>-->
				</tr>

                {% for order_item in order.items.all %}
                <tr>
					<td>{{ forloop.counter }}</td>
					<td>{{ order_item.product.name }}</td>
                    <td>{{ order_item.product.price }}</td>
					<td style="text-align: center;">
						<!--<p><strong><i class="fas fa-arrow-up"></i></strong></p>
								<img data-product="{{ item.product.id }}" data-action="add" class="chg-quantity update-cart" src="{% static 'images/arrow-up.png' %}" alt="" style="background-color: green; font-size: x-large;">-->
								
							<!--<img data-product="{{ item.product.id }}" data-action="remove" class="chg-quantity update-cart" class="chg-quantity" src="{% static 'images/arrow-down.png' %}" alt="" style="background-color: green;">
							<i class="fas fa-sort"></i>-->
		

						<!--<strong><a href="{% url 'products:add_item' order_item.pk %}"><i class="fas fa-sort-up"></i></a></strong>-->
						{{ order_item.quantity }}

					
					</td>		
					
					<td>{{order_item.get_total_item_price}}</td>
					<td>{{order_item.ordered}}</td>

					<td>{{order_item.date_created}}</td>
				

					<!--<td>{{order_item.get_final_price}}</td>
					<td style="color: tomato;">{{order_item.id}}</td>
					<td style="color: blue;">{{order_item.pk}}</td>-->
		
					
					<td><a class="btn btn-sm btn-info" style="padding: 4px;" href="">Update</a></td>

					<td><a class="btn btn-sm btn-danger" style="padding: 4px;" href="">Delete</a></td>
				</tr>
		{% endfor %}

		
		
		
	
		   {% if order.get_total_price  %}
		   <tr  style="background-color: black; padding: 30px;">
			<td></td>
	   
			   <td colspan="3" ><b style="color: whitesmoke;"> Amount Before Tax /Amount payable</b></td>
			   <td style="color: whitesmoke;"><b>{{ order.get_total_price }}</b></td>
			     
			   
		   
		   </tr>
		   {% endif %}
	
	
			</table>
			
		
		</div>
			
		</div>
		
	</div>
</div>







   
  


<div class="search-section">
    
    <h1 class="search-result">Wish Item List</h1>

   {% for result in order %} 
<div class="flex-container">
    
   
  <div>
  

    <div class="property-flex">
        
        <a href="{% url 'product:image_gallery' result.id %}">
        <div class="card-image ">
            <img src="{{ result.img.url }}" alt="">
        </div>
        </a>
    </div>
  </div>
  <div>
      <div class="property-information">
         <a href="{% url 'product:image_gallery' result.id %}">
            <div class="property-address">
                <h2>{{result.Location }}</h2>
            </div>
         </a>
          <div class="property-information">
              <h3>Price:<span>${{result.price }}</span></h3>
              <h3>bedroom:{{result.bedroom }}</h3>
              <h3>bathroom:{{result.bathroom }}</h3>
              <h3>Sqft:{{result.sqft }}</h3>
              <h3>Acres:{{result.acre}}</h3>
              <h3>SubdivisionSee Legal Description Below.</h3>
             
          </div>
      </div>
  </div>
  <div class="property-information">
      <h3 class="right">{{ result.listing_id }}</h3>
      <!--<h3 class="right">Listing ID50044316PBMLS-RETS</h3>-->
  </div>  
  <div class="property-information">
    <h3 class="center">{{ result.release_date }}</h3>
    
</div>  
</div>
<h3 class="description"> {{result.describe }}</h3>
<!--<div class="contar">
<div class="btn-groupy " role="group" aria-label="Basic mixed styles example">
    <a href="{% url 'product:image_gallery' result.id %}" type="button" class="btn btnb btn-danger">View pictures {{number}}</a>
    <a href="{% url 'product:image_slides' result.id %}" type="button" class="btn btnb btn-warning">Visual Tour</a>
  
    <a href="{% url 'product:add_item' result.id %}" type="button" class="btn btnb btn-success" >Add To Your Wishlist</a>
    <a href="{% url 'product:image_gallery' result.id %}" type="button" class="btn btnb btn-dark">View Details</a>
  </div>
</div>-->
{% endfor %}
</div>







<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>






<!-- Example single danger button -->
<div class="btn-group" style="align-items:right">
	<button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
	  Action
	</button>
	<ul class="dropdown-menu">
	  <li><a class="dropdown-item" href="#">Action</a></li>
	  <li><a class="dropdown-item" href="#">Another action</a></li>
	  <li><a class="dropdown-item" href="#">Something else here</a></li>
	  <li><hr class="dropdown-divider"></li>
	  <li><a class="dropdown-item" href="#">Separated link</a></li>
	</ul>
  </div>



  <div class="dropdown">
	<button class="btn btn-secondary dropdown-toggle" style="align-items:right" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
	  Dropdown button
	</button>
	<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
	  <li><a class="dropdown-item" href="#">Action</a></li>
	  <li><a class="dropdown-item" href="#">Another action</a></li>
	  <li><a class="dropdown-item" href="#">Something else here</a></li>
	</ul>
  </div>




  <!-- Example split danger button -->
<div class="btn-group">
	<button type="button" class="btn btn-danger">Action</button>
	<button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
	  <span class="visually-hidden">Toggle Dropdown</span>
	</button>
	<ul class="dropdown-menu">
	  <li><a class="dropdown-item" href="#">Action</a></li>
	  <li><a class="dropdown-item" href="#">Another action</a></li>
	  <li><a class="dropdown-item" href="#">Something else here</a></li>
	  <li><hr class="dropdown-divider"></li>
	  <li><a class="dropdown-item" href="#">Separated link</a></li>
	</ul>
  </div>







  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-top: 50px; background-color: #0076AD; padding: 50px;">
	<div class="container-fluid">
	  <a class="navbar-brand" href="#">Navbar</a>
	  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNavDropdown">
		<ul class="navbar-nav">
		  <li class="nav-item">
			<a class="nav-link active" aria-current="page" href="#" style="align-items:right">Home</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="#" style="align-items:right">Features</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="#" style="align-items:right">Pricing</a>
		  </li>
		  <li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
			  Dropdown link
			</a>
			<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="align-items:right">
			  <li><a class="dropdown-item" href="#">Action</a></li>
			  <li><a class="dropdown-item" href="#">Another action</a></li>
			  <li><a class="dropdown-item" href="#">Something else here</a></li>
			</ul>
		  </li>
		</ul>
	  </div>
	</div>
  </nav>




  <nav class="navbar navbar-dark bg-dark">
	<!-- Navbar content -->
  </nav>
  
  <nav class="navbar navbar-dark bg-primary">
	<!-- Navbar content -->
  </nav>
  
  <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
	<!-- Navbar content -->
  </nav>



  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-top: 50px; background-color: #0076AD; padding: 50px;">
	<div class="container-fluid">
	  <a class="navbar-brand" href="#">Navbar scroll</a>
	  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarScroll">
		<ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
		  <li class="nav-item">
			<a class="nav-link active" aria-current="page" href="#" style="align-items:right">Home</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="#" style="align-items:right">Link</a>
		  </li>
		  <li class="nav-item dropdown" style="align-items:right">
			<a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
			  Link
			</a>
			<ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
			  <li><a class="dropdown-item" href="#">Action</a></li>
			  <li><a class="dropdown-item" href="#">Another action</a></li>
			  <li><hr class="dropdown-divider"></li>
			  <li><a class="dropdown-item" href="#">Something else here</a></li>
			</ul>
		  </li>
		  <li class="nav-item">
			<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Link</a>
		  </li>
		</ul>
		<!--<form class="d-flex">
		  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
		  <button class="btn btn-outline-success" type="submit">Search</button>
		</form>-->
	  </div>
	</div>
  </nav>
{% endblock %}


