

{% extends 'index.html' %}
{% load static %}  
{% block content %} 



<style>

    .want_to_buy{
        display: none;
    }
    .display{
        display: none;
    }
    .property-search{
        display: none;
    }
    .featured{
        display: none;
    }
</style>






{% for message in messages %}
<h4 id="messages">{{ message }}</h4>
{% endfor %}


<div class="container" style="align-items: center; text-align: center;" >
    <h2>Please click the login button </h2>

<button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>

</div>

<div class="container" id="ido-main">

<div id="id01" class="modal" style="align-items: center; text-align: center; padding: 40px;">
  
    <form class="modal-content animate" action="{% url 'accounts:login' %}" method="POST">
        {% csrf_token %}
      <div class="imgcontainer">
        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
        <img src="{% static 'images/avatar2.png' %}" alt="Avatar" class="avatar">
      </div>
  
      <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" required>
  
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>
          
        <button type="submit">Login</button>
        <label>
          <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
      </div>
  
      <div class="container" style="background-color:#f1f1f1">
        <!--<button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>-->
       
        <span class="psw"> <a href="{% url 'accounts:register' %}">Sing Up?</a></span>
        <span class="psw">Forgot <a href="#">password?</a></span>
      </div>

      
    </form>

 

 
  </div>
</div>

<span class="hello-msg">Hello ,{{ request.user }}</span>
<span><a class="hello-msg" href="">Logout</a></span>
<script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>

</body>
</html>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  
  






<style>
 
    * {box-sizing: border-box}


.container {
  padding: 16px;
}


input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}


hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}


a {
  color: dodgerblue;
}


.signin {
  background-color: #f1f1f1;
  text-align: center;
}*/

</style>

<div class="container" style="width: 20rem; margin-top: 70px; height: 20rem; background-color:#e9ecef;" >
  <div class="col-md-10 offset-md-1 mt-5" >
      <!--<div class="jumbotron"> 
           <h3 id="form-title" style="text-align: center;">Please login to enable you request the service you want</h3>-->
          <h3 class="display-44" style="text-align: center; font-size: 22px; margin-top: 50px; color: #343a40;">request service</h3>
          <p id="form-title" >Please login to enable you request the service you want</p>
         
              <a href=""
               style="font-size: 24px; text-align: center; text-decoration: none;"role="button" class="btn btn-danger"  >Artisans</a>
               <a href=""
               style="font-size: 24px; text-align: center; text-decoration: none;" role="button" class="btn btn-success" >Client</a>
        
         <!-- <a action="" role="button" class="btn btn-primary btn-lg">Submit</a>-->
      </div>
  </div>




  {% endblock %}

