
{% extends 'first.html' %}
{% load static %}  
{% block title %}Login{% endblock %}
{% block content %} 



<style>
     .want_to_buy{
        display: none;
    }
    .display{
        display: none;
    }
    .property-search{
        display: none;
    }
    .featured{
        display: none;
    }
 
    * {box-sizing: border-box}

</style>




{% for message in messages %}
{{ message}}
{% endfor %}

<div id="form2" class="container form2" style="width: 500px;  background-color: #e9ecef; align-items: center; text-align: center; margin-top: 50px;">

    <h3 style="margin-top: 20px 20px; color: #0076AD;">Sing In Form</h3>
  <form action="{% url 'accounts:login' %}" method="POST" class="row g-3">
      {% csrf_token %}
      <div class="col-md-12" style="margin-top: 30px;">
          <label for="inputEmail4" class="form-label" >Username</label>
          <input type="text" class="form-control" id="inputusername" name="username" >
 
        </div>
        
      <div class="col-md-12">
          <label for="inputPassword4" class="form-label">Password</label>
          <input type="password" class="form-control" id="inputPassword4" name="password">
        </div>
       
        <hr>

      <div class="col-12" >
       
      <button type="submit" class="btn btn-danger">Login!</button>

       
      </div>
    </form>



{{ form1.errors }}
{{ form2.errors }}



<div class="mt-4">
  <div class="d-flex justify-content-center links" style="color:black; margin-bottom: 30px;">
      Don't Have An Account? &nbsp;<a href="{% url 'accounts:register' %}"
      class="mm-3" style="color: #0076AD; font-size: large; font-weight: bolder;">Sign Up!</a>
  </div>
</div>

</div>





   



{% for message in messages %}
<h4 id="messages">{{ message }}</h4>
{% endfor %}









{% include 'footer.html' %}

{% endblock %}

  




