

{% extends 'first.html' %}
{% load static %}
{% block title %}ContactUs{% endblock %}
{% block content %}
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>-->
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />-->




<style>
   /* html,body {
        display: grid;
        place-items: center;
        text-align: center;
        background-color: #f2f2f2;
        margin: 0;
        padding: 0;
    }*/
    .want_to_buy{
        display: none;
    }
    .display{
        display: none;
    }
    .property-search{
        display: none;
    }
    .featured{
        display: none;
    }
  
.col-md-6{

}
.contact-info{
        height: 900px;
       
  font-family: "Roboto", sans-serif;
  background-image: url('/static/images/background/black_background.jpeg');
  background-repeat: no-repeat;
  margin-left: 5px;

  background-color: #cccccc; 
 
  background-position: center; 

  background-size: cover;
 
}
.card-info{
   
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card-info h1{
    font-size: 48px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800;
    margin-top: 20px;
  
}
.card-phone{
   
   color: #fff;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.card-phone h2{
    text-align: center;
    color: #fff;
    font-size: 26px;
    font-weight: 300;
    text-transform: capitalize;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    
}
.card-phone p{
    text-align: center;
    color: #fff;
    font-size: 16px;
    line-height: 1px;

}
.card-message .input-data{
    background-color: #fff;
   
    border-radius: 0%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
     
}

.mess h2{
   padding-top: 50px;
    font-size: 30px;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
    color: purple;
}
.card-message{
   
    background-image: linear-gradient(135deg,rgb(74,234,220) 0%,#d5dfdb 100%);

}
.form-check{
    margin-top: 20px;
}
.textarea{
    margin-top: 30px;
}
.textarea label{
    color: rgb(254,45,45);
}
#exampleFormControlTextarea1{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.owl-carousel{
    margin-top: 70px;
    overflow: hidden;
}
.imgContact{
    height: 250px;
    margin-left: 0px;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

   border: 2px solid #cccccc;*/
}
.logo_areas{
   position: absolute;
}
.checkbox_toggle{
    margin-left: 100px;
}
.contactMe{
    margin-top: 30px;
}
.contact-details{
    box-shadow: 0 4px 8px 0 #000;

    
}
.team-body-side{
    box-shadow: 0 4px 8px 0 #7bdcb5;

   border: 2px solid whitesmoke ;
}
/*overflow-wrap: break-word;*/
</style>



<div class="container contactMe" >
    <div class="row">
        <div class="col-md-6">
          
           <div class="contact-info ">
              <div class="contact-details team-body-side animate__animated animate__backInLeft">
                <div class="card-info ">
                    <h1>Contact Information</h1>
                </div>
                <div class="card-phone">
                    <h2>phone:</h2>
                    <p>+2349160787335 </p>
                    <!--<p>+234432.714.3456 (mobile)</p>
                    <p>+234432.714 (fax)</p>-->
                </div>
                <div class="card-phone">
                 <h2>email:</h2>
                 <p>contact@wilmotinnovation.com</p>
              
               
             </div>
             <div class="card-phone">
                 <h2>Office Hours:</h2>
                 <p>Monday – Friday</p>
                 <p>9 am – 5 pm</p>
                 <p>(We have an agent on call 24/7. If you call us, we will be here.)</p>
             </div>
             <div class="card-phone">
                 <h2>Address:</h2>
                 <p>Wilmot Innovation Limited</p>
                 <p>New Kubwa Village, </p>
                 <p> Abuja</p>
                      </div>
              </div>
           </div>
        </div>

        <div class="col-md-6 message-us">
            <div class="card-message">

              

                <form action="" method="post" class="team-body-side animate__animated animate__backInRight">
                    {% csrf_token %}
                    <div class="mb-4 mess" style="padding-top: 30px; color: rgb(254,45,45);">
                        <h1>Message us:</h1>
                                   
                      </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Full name</label>
                        <input class="form-control input-data" type="text" name="message-name" id="exampleFormControlInput1"  placeholder="full name" aria-label="default input example">
                    
                      </div>
                      <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Phone number</label>
                        <input class="form-control input-data" id="" type="number" name="message-phone" placeholder=" phone number">
                      </div>

                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                      <input type="email" class="form-control input-data" name="message-email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder=" your emai address">
                                 
                    </div>
                    
                   
                    <div class="mb-3 form-check">
                        <div class="checkBox-info">
                            <h4>I need assistance with:</h4>                
              <div class="card-checks">
                <div class="form-check form-check-inline">
                   
                 
                    <label class="form-check-label" for="inlineCheckbox1">{{item.name}}</label>
               
                </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="property" id="inlineCheckbox2" value="commercial">
                    <label class="form-check-label" for="inlineCheckbox2">Commercial</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="property" id="inlineCheckbox2" value="land">
                    <label class="form-check-label" for="inlineCheckbox2">Land</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="property" id="inlineCheckbox2" value="Farm">
                    <label class="form-check-label" for="inlineCheckbox2">Farm or Ranch</label>
                  </div>

              </div>
              <div class="card-checks">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="property" id="inlineCheckbox2" style="color: rebeccapurple;" value="rental">
                    <label class="form-check-label" for="inlineCheckbox2">Rental/Lease</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="property" id="inlineCheckbox2" value="peoperty management">
                    <label class="form-check-label" for="inlineCheckbox2">Property Management</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="property" id="inlineCheckbox2" value="new construction">
                    <label class="form-check-label" for="inlineCheckbox2">New Construction</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="property" id="inlineCheckbox" value="stone Creek Estate">
                    <label class="form-check-label" for="inlineCheckbox2">Stone Creek Estates</label>
                  </div>
                
              </div>
                        </div>
                        </div>

                    <div class="mb-3 textarea">
                        <label for="exampleFormControlTextarea1" class="form-label left">How can we help? *</label>
                        <textarea class="form-control" name="message" id="exampleFormControlTextarea1" rows="3"></textarea>
                      </div>


                    <button type="submit" class="btn btn-danger">Submit</button>
                    </form>
            </div>
        </div>
    </div>
</div>





<div class="owl-carousel owl-theme">
    <div class="item">
        <div class="imgContact">
            <img src="/static/images/pic/wilmot1.jpg" alt="">
        </div>
    </div>
    <div class="item">
        <div class="imgContact">
            <img src="/static/images/pic/wilmot2.jpg" alt="">
        </div>
    </div>
    <div class="item">
        <div class="imgContact">
            <img src="/static/images/pic/wilmot3.jpg" alt="">
        </div>
    </div>
    <div class="item">
        <div class="imgContact">
            <img src="/static/images/pic/wilmot4.jpg" alt="">
        </div>
    </div>
    <div class="item">
        <div class="imgContact">
            <img src="/static/images/pic/wilmot5.jpg" alt="">
        </div>
    </div>
    <div class="item">
        <div class="imgContact">
            <img src="/static/images/pic/wilmot6.jpg" alt="">
        </div>
    </div>
   
    <div class="item">
        <div class="imgContact">
            <img src="/static/images/pic/wilmot7.jpg" alt="">
        </div>
    </div>
   
    <div class="item">
        <div class="imgContact">
            <img src="/static/images/pic/wilmot8.jpg" alt="">
        </div>
    </div>
   
    <div class="item">
        <div class="imgContact">
            <img src="/static/images/pic/wilmot9.jpg" alt="">
        </div>
    </div>
   
    <div class="item">
        <div class="imgContact">
            <img src="/static/images/pic/wilmot10.jpg" alt="">
        </div>
    </div>
   

     <div class="item">
        <div class="imgContact">
            <img src="/static/images/pic/wilmot11.jpg" alt="">
        </div>
    </div>
    <div class="item">
        <div class="imgContact">
            <img src="/static/images/pic/wilmot12.jpg" alt="">
        </div>
    </div>
   

   
  
   
 
</div>

<script>
  $(document).ready(function(){
    if ($('.owl-carousel').length){
    $('.owl-carousel').owlCarousel({
        loop:true,
        //margin:10,
        nav:true,

       // autoplayTimeout: 2000,
        autoplay:true,
    //autoplayTimeout:10000,
    //autoPlayHoverPause:false,
        //animateOut: 'slideOutDown',
        //animateIn: 'flipInX',
        responsiveClass:true,
        responsive:{
            0:{
                items:1,
                
            },
         
            600:{
                items:2,
               
            },
            900:{
                items:3,

            },
            1000:{
                items:6,
               
                loop:true,
            }
        }
    })
}
})

</script>


{% include "footer.html" %}
{% endblock %}