





<!--<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col"> 
                <h4>office</h4>
                <ul>
                    <li><a href=""> C. Larson Real Estate <br>lagos <br></a></li>

                   <li><a href=""> 7/12 Rumens road ikoyi <br>lagos <br>
                    <strong>Phone:</strong> +2348079385255</a></li>
                  <li><a href="">1600 Gregg St
                    Big Spring, TX 79720</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Useful links</h4>

                <ul>
                    <li><a href=""> Home </a><li>
                    <li><a href=""> About us </a></li>
                    <li><a href=""> Services </a></li>
                    <li><a href=""> Recruitment </a></li>
                    <li><a href=""> Training </a></li>
                </ul>
              
            </div>
            <div class="footer-col">
                <h4>Our services</h4>
                <ul>
                    <li><a href=""> Mobile app </a></li>
                    <li><a href=""> web Development </a></li>
                    <li><a href=""> Product management</li>
                    <li><a href=""> Digital marketing </a></li>
                    <li><a href=""> Graphic Design </a></li>
                </ul>
              
            </div>
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href=""><i class="fa fa-facebook-f"></i></a>
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-instagram"></i></a>
                    <a href=""><i class="fa fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>

</footer>-->


<section class="footer-section">
<div class="container">
    <div class="sec aboutus">
        <h2>office</h2>
        <!--<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet placeat eveniet tempora. Quia hic voluptatem magnam ducimus. Vero laborum quas exercitationem incidunt vel et odio, reiciendis distinctio doloribus amet ex.</p>-->
         <p>Wilmot Real Estate <br> 7/12 Rumens Road,Ikoyi <br> Lagos</p>
        

       <div class="time">

          <h2 c>Office Hours</h2>
          <p>
             Mon – Fri | 9:00 – 5:00
             Sat – Sun | By Appointment</p>
       </div>
            <!--<h2>TREC Information About Brokerage Services</h2>
            <h2>TREC Consumer Protection Notice </h2>-->
            <h3 class="follow">Follow us on:</h3>
    <ul class="sci">
       
        <li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        <li><a href=""><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
    </ul>
</div>

<div class="sec quicklinks">
  
    <h2>Phone</h2>
    <p>+2348079385255</p>

    <h2>Email</h2>
    <p>nuel4xelence@gmail.com</p>
  
   

    <!--<ul>
        <li><a href="">home</a></li>
        <li><a href="">our team</a></li>
        <li><a href="">property search</a></li>
        <li><a href="">r servicesou</a></li>
        <li><a href="">property management</a></li>
        <li><a href="">marketing</a></li>
        <li><a href="">testimonials</a></li>
        <li><a href="">contact us</a></li>
    </ul>-->
</div>
<div class="sec quicklinks">
    <h2>Quick Links</h2>

    <li><a href="">home</a></li>
    <li><a href="">our team</a></li>
    <li><a href="">property search</a></li>
   
    <li><a href="">property management</a></li>
    <li><a href="">marketing</a></li>
    <li><a href="">testimonials</a></li>
    <li><a href="">contact us</a></li>
    <!--<ul>
        <li><a href="">home</a></li>
        <li><a href="">our team</a></li>
        <li><a href="">property search</a></li>
        <li><a href="">r servicesou</a></li>
        <li><a href="">property management</a></li>
        <li><a href="">marketing</a></li>
        <li><a href="">testimonials</a></li>
        <li><a href="">contact us</a></li>
    </ul>-->
</div>

<!--<div class="sec contact">
    <h2>contact</h2>
    <ul class="info">
        <li>
            <span></span>
            <span><img src="https://i0.wp.com/clarsonrealestate.com/wp-content/uploads/2020/08/TAR.png?fit=300%2C160&ssl=1" width="280" height="250" alt="">heello</span>
        </li>
        <li><span><img src="" alt="">hiiii</span></li>
    </ul>
</div>-->
</div>
</section>