

{% extends 'first.html' %}
{% load static %}


{% block title %}Wilmot innovation homePage{% endblock %}
{% block content %}





<section class="want_to_buy" id="want_buy">
    <div class="container">
     <div class="row justify-content-center">
      
             <div class="col">
                 <div class="text">
            
                     <div class="buy animate__animated animate__backInLeft animation-delay-2s" style="animation-delay: 2s;">
                         <h3>looking to buy or sell a home?</h3>

                         <h1><strong>Let our local experts work for you.</strong></h1>
                         <h3>The Federal Capital Is Our Office</h3>

                     </div>
                     <div class="local animate__animated animate__backInLeft animation-delay-s" style="animation-delay: 1s;">
                         <!--<img src="/static/images/background/wilmot_bg.JG" alt="">-->
                     </div>

                 </div>
             </div>
         
     </div>

    </div>
</section>

   
 

   
   
   
<section class="display">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="text-head">

                <h1 style="text-align: center;"><span style="color: #000000;">Welcome TO</span></h1>
                <h1 style="text-align: center;"><span style="color: #000000;">Wilmot Innovation Limited</span></h1>
                <h1 style="text-align: center;"><span style="color: #000000;">Real Estate Agency</span></h1>
                </div>
      
<!--<p>&nbsp;</p>-->
<p style="text-align: center;">Our elite real estate professionals work throughout Federal Capital Territory to bring smiles to your face as your real estate professionals.</p>

<p style="text-align: center;">When you’re ready to buy or sell your home, farm, ranch, land or commercial property, let our team help. We are a locally owned and operated company, and we’re ready to help make the buying and selling process much easier. We are the best in the area due to our extensive knowledge, experience and dedication to our clients.</p>


<p style="text-align: center;">Our real estate professionals handle the transactions of many property types such as residential homes, ranches and farms, land and commercial real estate. We do it all. Choosing an expert real estate team, like Wilmot Innovation Real Estate, is the obvious choice to make your buying or selling process seamless. Securing the Company and its team of negotiators will protect you from mistakes and pay dividends in peace of mind and cash.</p>



<p style="text-align: center;">We are in the business of making our clients’ dreams a reality, and our dedication to that is relentless. Having the right agent at your side makes a huge difference, but choosing one of our extremely knowledgeable agents makes ALL the difference.  Call us today and let us get started!.</p>
<h2 style="text-align: center;"><span class="wilmotBasin" style="color: #000000;">The Wilmot Innovation  real estate professionals  are the right agents for your housing projects</span></h2>
            </div>

    <div class="col-md-6">

        <div class="video-wrap">
            <div class="video">
                <div class="video__thumbn">
                    <video width="480" height="300" controls>
                        <source src="/static/video/wilmot_innovation1.MP4" type=video/mp4></video>
                </div>
            </div>
        </div>
        <div class="wrap-inner">
            <img class="img-with-animation skip-lazy animated-in" data-delay="0" height="450" width="450" data-animation="fade-in" src="{% static 'images/pic/woman5.jpg' %}" alt="">
          </div>

			</div> 
		</div>
	</div> 
</section>





<div class=" property-search" style="align-items: center; text-align: center;">
    <div class="form-container" >
        <h2>Search for any property below:</h2>
     <form id="make_checkbox_select" method="POST" action="{% url 'product:property_search' %}">
         {% csrf_token %}
         <h4>property type</h4>
         <select name="property" class="property">
             <option  data-count="2" value="all" >All</option>
             <option data-count="23" value="Residential">Residential</option>
             <option data-count="433" value="Commercial">Commercial</option>
             <option data-count="45" value="Land">Land</option>
             <option data-count="476" value="Multi_family">Multi-Family</option>
             <option data-count="78" value="Rental">Rental</option>
           
         </select>
         
         <div class="flex">
         <div class="form-content" style=" align-items: center; text-align: center;">
            <div class="row g-3 align-items-center" style="text-align: left; align-items: right;">
                 <div class="col-auto">
                   <label for="text" class="col-form-label">Min Price</label>
                   <input type="number" id="inputPassword6" class="form-control inputinfo" aria-describedby="passwordHelpInline" name="min-price">
                 
                 </div>
                 <div class="col-auto">
                     <label for="text" class="col-form-label">Max Price</label>
                     <input type="number" id="inputPassword6" class="form-control inputinfo" aria-describedby="passwordHelpInline" name="max-price">
                   
                   </div>
               </div>
 
 
               <div class="row g-4 align-items-center" style="text-align: left; align-items: right;">
                 <div class="col-auto">
                   <label for="text" class="col-form-label">Min Bedrooms</label>
                   <input type="number" id="inputPassword6" class="form-control inputinfo" aria-describedby="passwordHelpInline" name="bedroom">
                 
                 </div>
                 <div class="col-auto">
                     <label for="text" class="col-form-label">Min Baths</label>
                     <input type="number" id="inputPassword6" class="form-control inputinfo" aria-describedby="passwordHelpInline" name="bathroom">
                   
                   </div>
               </div>
             
            </div>
            
            
        </div>
        <button class="btn btn-outline-success" id="btn-select" type="submit">Search</button>
       </form>
     
    </div>
               
         </div>


<section class="featured" id="featured">
    <div class="container">
        <h2 class="listing">FEATURED LISTINGS</h2>
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-img">
                        <img src="{% static 'images/background/house13.jpg' %}" alt="">
                    </div>
                    <div class="card-body">
                        <p>5701 E Midway Rd <br> Big Spring, Texas 79720</p>
                        <span>#399,000</span>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-img">
                        <img src="{% static 'images/background/property5.jpg' %}" alt="">
                    </div>
                    <div class="card-body">
                        <p> 2806 Lawrence <br> Big Spring, Texas 79720 </p>
                        <span> #224,000</span>
                   
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-img">
                        <img src="{% static 'images/background/property2.jpg' %}" alt="">
                    </div>
                    <div class="card-body">
                        <p> 1203 Pennsylvania Ave <br>  Big Spring, Texas 79720</p>
                        <span>  #120,000</span>
                     
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-img">
                        <img src="{% static 'images/background/house18.jpg' %}" alt="">
                    </div>
                    <div class="card-body">
                    
                        <p>1507 Eubanks Rd<br> Big Spring, Texas 79720</p>
                        <span>#154,000</span>
                     

                    </div>
                </div>
            </div>
        </div>
    </div>   
</section>



{% include 'footer.html' %}

{% endblock %}