
{% extends 'index.html' %}
{% load static %}
{% block content %}



<style>

  .want_to_buy{
      display: none;
  }
  .display{
      display: none;
  }
  .property-search{
      display: block;
  }
  .featured{
      display: none;
  }
 .property-search{
   display: none;
 }


.another-select,.first-select{
  display: flex;
}
.maxprice{

  font-size: 22px;
  font-weight: 400;
  cursor: pointer;
  margin-top: 25px;
  
  
}
.maxprice:hover{
      background: #7fbebb;
      color: #000;
    }
#popup{
      
      margin-top: 1px;
  
      margin-left: auto;
      margin-right: auto;
      padding: 0;
      padding-left: 0px;
   
    }
    
  </style>



<div class=" property-searches" style="align-items: center; text-align: center;">
  <div class="form-container" >
      <h2>Search for any property below:</h2>
     
   <form id="make_checkbox_select" method="POST" action="{% url 'product:property_search' %}">
       {% csrf_token %}
     
       <div class="first-select">
        <div class="col-md-6">
         
          <div class="property-select">
            <select name="property" style="width: 400px; height: 50px; border: white; background: red; margin-top: 100px;">
              <option  data-count="2" value="all" >features</option>
              <option data-count="23" value="Residential">Residential</option>
              <option data-count="433" value="Commercial">Commercial</option>
              <option data-count="45" value="Land">Land</option>
              <option data-count="476" value="Multi_family">Multi-Family</option>
              <option data-count="78" value="Rental">Rental</option>
            
          </select>
          </div>
        </div>

          <div class="col-md-6">
          <div class="property-select">
            <select name="property" style="width: 400px; height: 50px; border: white; background: red; margin-top: 100px;">
              <option  data-count="2" value="all" >features</option>
              <option data-count="23" value="Residential">Residential</option>
              <option data-count="433" value="Commercial">Commercial</option>
              <option data-count="45" value="Land">Land</option>
              <option data-count="476" value="Multi_family">Multi-Family</option>
              <option data-count="78" value="Rental">Rental</option>
            
          </select>
          </div>
          </div>
       </div>

         
      
      <button class="btn btn-outline-success" id="btn" type="submit" style="width: 600px; height: 50px; border: white;  background-color: #7fbebb; color: #fff; margin-top: 30px; ">Search</button>
     </form>
   
  </div>
             
       </div>

<script>
  let openup = false;
  let maxprice =document.getElementById('maxprice');
  let maxinput = document.getElementById('popup')

  function openInputField(){
    maxinput.style.display ="block";
    openup =true;
    
  }
</script>


<script>
  let openups = false;
    let popup = document.getElementById('popup');
    //let accept = document.getElementById('confirm');
   
    function openPopup(){
      popup.classList.add("open-popup");
      openup = true;

   
    }
    //function closePopup(){
      //popup.classList.remove("open-popup");
      //accept.style.display ="block";
   // }
   
    
   
   </script>


{% endblock %}