{% extends 'index.html' %}
{% load static %}
{% block content %}



<style>

    .want_to_buy{
        display: none;
    }
    .display{
        display: none;
    }
    .property-search{
        display: none;
    }
    .featured{
        display: none;
    }


.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
}

.flex-item-left {
  flex: 50%;
}

.flex-item-right {
  flex: 50%;
}
.card-image{
    width: 300px;
    height: 280px;
    margin-left: 20px;
}
.card-image img{
    width: 100%;
    height: 100%;
}
.property-information{
    margin-left: 20px;
}
.property-address h2{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
  
    color: #0076AD;
    margin-left: 10px;
}
.property-information h3{
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;

}
.property-information span{
    color: green;
}
.right{
    margin-left: 50px;
}
.search-result{
    margin-left: 30px;
}
.search-section .description{
    font-size: 15px;
    color: #333;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 30px;
    margin-left: 30px;
}
.btn-groupy{
    margin-top: 5px;
    margin-bottom: 70px;
    margin-left: auto; 
    margin-right: 20;
    right: -50px;
   
    
}
.contar{
    margin-left: 30px;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .flex-item-right, .flex-item-left {
    flex: 100%;
  }
}
    </style>
   
  


   {% load pagination_tags %}

<div class="search-section">
    
    <h1 class="search-result">Search result</h1>

   {% for result in resultobj %} 
<div class="flex-container">
    
   
  <div>
  

    <div class="property-flex">
        
        <a href="{% url 'product:image_gallery' result.id %}">
        <div class="card-image ">
            <img src="{{ result.img.url }}" alt="">
        </div>
        </a>
    </div>
  </div>
  <div>
      <div class="property-information">
         <a href="{% url 'product:image_gallery' result.id %}">
            <div class="property-address">
                <h2>{{result.Location }}</h2>
            </div>
         </a>
          <div class="property-information">
              <h3>Price:<span>${{result.price }}</span></h3>
              <h3>bedroom:{{result.bedroom }}</h3>
              <h3>bathroom:{{result.bathroom }}</h3>
              <h3>Sqft:{{result.sqft }}</h3>
              <h3>Acres:{{result.acre}}</h3>
              <h3>SubdivisionSee Legal Description Below.</h3>
             
          </div>
      </div>
  </div>
  <div class="property-information">
      <h3 class="right">{{ result.listing_id }}</h3>
      <!--<h3 class="right">Listing ID50044316PBMLS-RETS</h3>-->
  </div>  
  <div class="property-information">
    <h3 class="center">{{ result.release_date }}</h3>
    
</div>  
</div>
<h3 class="description"> {{result.describe }}</h3>
<div class="contar">
<div class="btn-groupy " role="group" aria-label="Basic mixed styles example">
    <a href="{% url 'product:image_gallery' result.id %}" type="button" class="btn btnb btn-danger">View pictures</a>
    <a href="{% url 'product:image_slides' result.id %}" type="button" class="btn btnb btn-warning">Visual Tour</a>
    <a href="" type="button" class="btn btnb btn-success">Add To Favourite</a>
    <a href="" type="button" class="btn btnb btn-dark">View Details</a>
  </div>
</div>
{% endfor %}
</div>




<!--{% if resultobj.has_other_pages %}
  <ul class="pagination">
    {% if resultobj.has_previous %}
      <li><a href="?page={{ resultobj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in resultobj.paginator.page_range %}
      {% if resultobj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if resultobj.has_next %}
      <li><a href="?page={{ resultobj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}-->




  






<!--{% if resultobj.has_other_pages %}
  <ul class="pagination">
    {% if resultobj.has_previous %}
      <li><a href="{% my_url 1 'page' request.GET.urlencode %}">&laquo;</a></li>-->
      <!--<li><a href="{% my_url resultobj.previous_page_number 'page' request.GET.urlencode %}">&laquo;</a></li>-->
    <!--{% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in resultobj.paginator.page_range %}
      {% if resultobj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="{% my_url resultobj.i 'page' request.GET.urlencode %}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if resultobj.has_next %}
      <li><a href="{% my_url resultobj.next_page_number 'page' request.GET.urlencode %}">&raquo;</a></li>
      <!--<li><a href="{% my_url resultobj.paginator.page_number 'page' request.GET.urlencode %}">&raquo;</a></li>-->
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}-->

{% endblock %}


{% extends 'index.html' %}
  {% load static %}
  {% block content %}

<style>
     .want_to_buy{
        display: none;
    }
    .display{
        display: none;
    }
    .property-search{
        display: none;
    }
    .featured{
        display: none;
    }
    /*carousel*/
  
    .slide-container .prev,
  .slide-container .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: all 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .slide-container .prev:hover,
  .slide-container .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
  }
  
  .slide-container .prev {
    left: 2px;
  }
  
  .slide-container .next {
    right: 2px;
  }
  
  /*very important */
  .dots-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
  .dots-container .dot {
    cursor: pointer;
    margin: 5px;
    width: 20px;
    height: 20px;
    color: #333;
    border-radius: 50%;
    background-color: #dfd6ce;
  }
  
  .dots-container .dot.active {
    border: 2px solid #000;
  }
  
  * {
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }
  
  body {
    /*height: 100%;
     background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%); */
  }
  
  body h1 {
    text-align: center;
  }
  
  .slide-containers {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin: auto;
    position: relative;
    height: 350px;
  }
  
  .slide-containers .slider {
    display: none;
    width: 100%;
    height: 100%;
  }
  
  .slide-containers .slider.fade {
    animation: fade 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
   /* transition-timing-function: ease;*/
    
  }
  
  .slide-containers .slider img {
    width: 100%;
    height: 100%;
  }
    
    </style>
    <body>
      <h1>Take a tour of the property</h1>
      <div class="slide-containers">
        {% for pic in slide %}
        <div class="mySlidy fade {% if forloop.counter0 == 0 %}active{% endif %}">
          <img src="{{ pic.images_of_property.url }}"   alt='not found'>
        </div>
        {% endfor %}
         <!--<div class="slide fade">
          <img src="/static/images/background/house14.jpg" alt='not found'>
        </div>
        <div class="slide fade">
          <img src="/static/images/background/house13.jpg" alt='not found'>
        </div>
        <div class="slide fade">
          <img src="/static/images/background/house18.jpg" alt='not found'>
        </div>-->
  
        <a href="#" class="prev" title="Previous">&#10094</a>
        <a href="#" class="next" title="Next">&#10095</a>
      </div>
      <div class="dots-container">
          {% for pic in slide %}
        <span class="dot"></span>
        {% endfor %}
       <!---<span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>-->
      </div>
    </body>
  </html>
    
    
  
  
  
  <script>
      let currentSlide = 0;
  const slides = document.querySelectorAll(".slider")
  const dots = document.querySelectorAll('.dot')
  
  const init = (n) => {
    slides.forEach((slide, index) => {
      slide.style.display = "none"
      dots.forEach((dot, index) => {
        dot.classList.remove("active")
      })
    })
    slides[n].style.display = "block"
    dots[n].classList.add("active")
  }
  document.addEventListener("DOMContentLoaded", init(currentSlide))
  const next = () => {
    currentSlide >= slides.length - 1 ? currentSlide = 0 : currentSlide++
    init(currentSlide)
  }
  
  const prev = () => {
    currentSlide <= 0 ? currentSlide = slides.length - 1 : currentSlide--
    init(currentSlide)
  }
  
  document.querySelector(".next").addEventListener('click', next)
  
  document.querySelector(".prev").addEventListener('click', prev)
  
  
  setInterval(() => {
    next()
  }, 5000);
  
  dots.forEach((dot, i) => {
    dot.addEventListener("click", () => {
      console.log(currentSlide)
      init(i)
      currentSlide = i
    })
  })
  
  </script>










    {% endblock %}