
{% extends 'index.html' %}
{% load static %}
{% block content %}



<style>

  .want_to_buy{
      display: none;
  }
  .display{
      display: none;
  }
  .property-search{
      display: block;
  }
  .featured{
      display: none;
  }
 .property-search{
   display: none;
 }

#make_checkbox_select{
  display: block;
}

  </style>






<div class=" property-searches" style="align-items: center; text-align: center;">
  <div class="form-container" >
      <h2>Search for any property below:</h2>
      <h4>property type</h4>
   <form id="make_checkbox_select" method="POST" action="{% url 'product:property_search' %}">
       {% csrf_token %}
     
       <div class="col-md-6">
        <select name="property" style="width: 400px; height: 50px; border: white;">
          <option  data-count="2" value="all" >Property</option>
          <option data-count="23" value="Residential">Residential</option>
          <option data-count="433" value="Commercial">Commercial</option>
          <option data-count="45" value="Land">Land</option>
          <option data-count="476" value="Multi_family">Multi-Family</option>
          <option data-count="78" value="Rental">Rental</option>
        
      </select>
       </div>
       <div class="col-md-6">
        <select name="property" style="width: 400px; height: 50px; border: white;">
          <option  data-count="2" value="all" >Max price</option>
          <option data-count="23" value="Residential">Residential</option>
          <option data-count="433" value="Commercial">Commercial</option>
          <option data-count="45" value="Land">Land</option>
          <option data-count="476" value="Multi_family">Multi-Family</option>
          <option data-count="78" value="Rental">Rental</option>
        
      </select>
       </div>
       <div class="col-md-6">
        <select name="property" style="width: 400px; height: 50px; border: white; background: red; margin-top: 100px;">
          <option  data-count="2" value="all" >Mini price</option>
          <option data-count="23" value="Residential">Residential</option>
          <option data-count="433" value="Commercial">Commercial</option>
          <option data-count="45" value="Land">Land</option>
          <option data-count="476" value="Multi_family">Multi-Family</option>
          <option data-count="78" value="Rental">Rental</option>
        
      </select>
       </div>
       <div class="col-md-6">
        <select name="property" style="width: 400px; height: 50px; border: white; background: green; margin-top: 100px;">
          <option  data-count="2" value="all" >features</option>
          <option data-count="23" value="Residential">Residential</option>
          <option data-count="433" value="Commercial">Commercial</option>
          <option data-count="45" value="Land">Land</option>
          <option data-count="476" value="Multi_family">Multi-Family</option>
          <option data-count="78" value="Rental">Rental</option>
        
      </select>
       </div>
      
      <button class="btn btn-outline-success" id="btn" type="submit" style="width: 600px; height: 50px; border: white;  background-color: #7fbebb; color: #fff; margin-top: 30px; ">Search</button>
     </form>
   
  </div>
             
       </div>



  
{% endblock %}