{% extends 'first.html' %}
 {% load static %}
 {% block title %}Our Team{% endblock %}
{% block content %}
 <!--animation link-->


<style>
    
   .card{
    /*box-shadow: 0 0 10px 4px #d0d0d0;*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 2px solid #7bdcb5;
    padding: 2px;
    margin: 2px;
    height: auto !important;
   }
  .card p{
    text-align: left;
    font-size: 16px;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
  }
  .card-image{
    width: 300px;
  height: 250px;
  position: relative;
  overflow: hidden;
  }
   .card img{
     padding: 10px;
     border-radius: 10px;
     /*object-fit: contain;*/
     object-fit: cover;
     height: auto;

      position: absolute;
  display: block;
  top: 0;
  left: 0;
    
   }
</style>

<div class="expert">

<div class="teamp">
    <div class="team-body-side animate__animated animate__backInLeft">

        <h1><b>The right team of experts by your side is everything</b>.</h1>
    </div>
    <div class="team-knowledge">
        <p>+ Our team is comprised of insanely knowledgeable agents who are dedicated to your success:</p>
    </div>
</div>
</div>



<div class="container rcols-1">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <!--<a href="">-->
        <div class="col">
          <div class="card">
           <div class="card-image">
            <img src="{% static 'images/pic/yusuf.jpg' %}" class="card-img-top" alt="...">
           </div>
            <div class="card-body">
              <h5 class="card-title">Broker/Owner</h5>
              <h2>Ismaila Yusuf</h2>
              <p>Ismaila Yusuf is an Auchi native, Edo State raised in Suleja, and currently residing in Suleja Niger State. After attending SS John and Paul College Suleja. He headed back to his hometown where he gained his National Diploma in Accounting.</p>
                <p>And later went further to India, where he received a Bachelor of Commerce which he specialized in both Accounting and Taxation Group at Bangalore University. 
                 <p> After graduating, Yusuf returned home, where he successfully opted to switch gears, discovering that carving out a career in real estate allowed him to put his vast knowledge of the area, as well as his expertise in finance, to good use. It would allow him to reconnect with the community that gave him so much. 
              </p>
               <p> When Yusuf isn’t assisting his clients, you can find him enjoying a good book, playing Badminton, or spending time with his family. He's passionate about music and enjoys attending live shows and researching up-and-coming bands.
              </p> 
               <p> Buying or selling a home? For more info about joining the Wilmot Innovation team? Contact Yusuf at 070-4960-0381
              </p> 
                <h5>Spoken Languages: English</h5>
              <!--<p class="card-text">With over many years of experience in the industry, Yusuf is your local real estate expert within the FCT.</p>-->
            </div>
          </div>
        </div>
        <!--</a>-->
        <div class="col">
          <div class="card">
            <img src="/static/images/pic/imageSix.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Real Estate Agent</h5>
              <h2>Camille Adamson</h2>
              <p class="card-text">Camille is very familiar with the Midland area and market, so if you are looking to buy or sell Midland real estate, you can't go wrong with her in your corner.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="/static/images/pic/imageFour.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Real Estate Agent</h5>
              <h2>Precious Friday </h2>
              <p class="card-text">With a passion to for helping her clients reach their goals and her well well-rounded knowledge in the industry ,you be rest assured everything will go beyond your expectations.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="/static/images/pic/imageFour.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Real Estate Agent</h5>
              <h2>Nathaniel Amos</h2>
              <p class="card-text">Nathaniel is very familiar with the Midland area and market,so if you are looking to buy or sell Midland real estate,you cant go wrong with him in your corner.</p>
              <i class="far fa-arrow-right"></i>
            </div>
          </div>
        </div>
      </div>
</div>




<div class="container txtp">
    <div class="text">
        <p>We believe that every client at every price point deserves the same level of service and marketing. This is the team that delivers on that promise.</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8 ">
            <div class="video-wrap">
                <div class="video">
                    <div class="video__thumbn">
                        <video width="500" height="400" controls>
                            <source src="/static/video/wilmot_innovation3.MP4" type=video/mp4></video>
                    
                    </div>
                </div>
        
            </div>
        </div>

        <div class="col-md-4 purchasing">
            <div class="info">
                <p>+ Our expert team is made up of elite real estate professionals who know the real estate  market inside and out. Our team's extensive experience shines within the industry. With this type of in-depth knowledge, our team of highly-trained experts can help guide you through the buying or selling process like no other team can.</p>
              <p>+ Purchasing a home is one of the largest investments that you can make in your lifetime. We will help you find the perfect home that checks all of your boxes. If you are ready to sell your home or would like to know how much your property is worth in today’s crazy market, we are the team of experts to call for assistance. There is always an agent on standby ready to assist you. We love what we do, and we are good at it too.</p>
            </div>
        </div>
    </div>
</div>





{% include 'footer.html' %}
{% endblock %}