{% extends 'first.html' %}
{% load static %}
{% block title %}Testimonials{% endblock %}
{% block content %}



<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />-->

<style>
   /* html,body {
        display: grid;
        place-items: center;
        text-align: center;
        background-color: #f2f2f2;
    }*/
    .want_to_buy{
        display: none;
    }
    .display{
        display: none;
    }
    .property-search{
        display: none;
    }
    .featured{
        display: none;
    }
    .textimony{
        margin-top: 30px;
        height: 150px;
  background-image: url('/static/images/background/background_paid.jpeg');
  background-repeat: no-repeat;
  background-position: center; 
 
  color: transparent;
  background-size: cover;
    }
    .textimony h3{
        text-align: center;
        color: black;
        font-size: 30px;
        font-family: sans-serif;
        margin-top: 50px;
        padding-top: 50px;
    }
    
   /* .owl-carousel, .owl-carousel .owl-item {
     
   -webkit-tap-highlight-color: transparent;
    position: relative;
    display: flex;
}*/
   
    .owl-carousel .item .card{
       
        flex: 1;
        margin: 10px 10px;
        border: none;
        height: 350px;
    }
    .owl-carousel .item .card .content{
        padding: 10px 10px;

    }
    .owl-carousel .item .card .content .title{
        font-size: 20px;
        font-weight: 400;
        text-align: left;
        /*color: #e74c3c;*/
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .owl-carousel .item .card .content .sub-title{
        margin-top: 3px;
        font-size: 18px;
        font-weight: 200;
        text-align: left;
        color: #666;
        line-height: 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }
    .owl-carousel .item .card .content blockquote{
       
        margin: 10px 0;
        text-align: center;
        margin-top: 40px;
    }
    .owl-carousel .item .imgpix{
        width: 300px;
        height: 250px;
        margin-bottom: 40px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

        border: 2px solid #7bdcb5;
       
    }
    .owl-carousel .item .imgpix img{
        width: 100%;
        height: 100%;
        
    }
    .footer-dark{
        width: 100% !important;
    }
    blockquote{
        text-align: left !important;
        margin-left: 0px;
        height: auto;

    }
    .card{
        height: auto;
    }
    @media (max-width: 768px){
       
        .menu { 
       width: 100%;
       position: absolute;
  }
  .logo_areas{
   
    position: relative; 
  
  }

    }

</style>

<div class="testy">


<div class="container textimony">
    <div class="row">
        <h3>Here’s what our awesome clients have to say:</h3>
    </div>
</div>
<div class="container">
    <div class="owl-carousel owl-theme">
        <div class="item">
           
            <div class="card">
                <div class="content">
                    <div class="title">Zillow User</div>
                    <div class="sub-title">facebook</div>
                    <blockquote> Great team, rapid responses, very much customer service oriented, willing to walk extra mile. Very happy and recommend whole heartedly. I engaged them for another project immediately.</blockquote>
                </div>
            </div>
        </div>
        <div class="item">
            
           
            <div class="card">
                <div class="content">
                    <div class="title">Mohammed Danjuma</div>
                    <div class="sub-title">Facebook</div>
                    <blockquote>
                        Wilmot Innovation Limited helped me and my family secure a home in F.C.T . With everything going on in the world with COVID they did an absolutely amazing job helping us through the entire process from keeping us up to date on everything we needed all the way up to giving us our own personal home. I strongly recommend anyone who is looking to rent or buy a home to contact them.They will not disappoint!
         
                    </blockquote>
                          </div>
            </div>
        </div>
        <div class="item">
           
            <div class="card">
                <div class="content">
                    <div class="title">Aliyu Gasua</div>
                    <div class="sub-title">Professional footballer</div>
                    <blockquote>
                        Wilmot Innovation made our buying process so stress free and enjoyable! We will forever be grateful for her! She knew almost all the answers to our questions and what she didn’t know she had a wonderful team around her to help! She is beyond a joy to work with and we will always use her services and give her the highest recommendation possible to others!
                    </blockquote>
                          </div>
            </div>
        </div>
        <div class="item">
            <div class="card">
                <div class="content">
                    <div class="title">Eddie Barre</div>
                    <div class="sub-title">Abuja ,Nigeria</div>
                    <blockquote>
                        Awesome  and incredible agents, Stuck with me throughout our most challenging  purchases with paperworks. I would not consider any other realtor.Wilmot is the best.
                    </blockquote>
                          </div>
            </div></div>
        <div class="item">
            <div class="card">
                <div class="content">
                    <div class="title">Jubril Suleman</div>
                    <div class="sub-title">devloper</div>
                    <blockquote>
                    Wilmot Innovation went above and beyond to ensure everything was taken care of. She was always available and willing to help in any way. She also provide any information requested in a timely manner.
                    </blockquote>
                          </div>
            </div></div>
        <div class="item">
            <div class="card">
                <div class="content">
                    <div class="title">Jamilu Mohammed</div>
                    <div class="sub-title">Abuja, Nigeria</div>
                    <blockquote>
                       Wilmot Innovation will get you that deal! I love that they are not  afraid to ask the questions you want asked! In the past I’ve had realtors tell me, “you can’t ask for that price”.Wilmot always says, “Let’s try it!” ??. I love their fearless attitude and her get it done style. They are putting in the work to know real estate inside and out. So if you want someone who is ready to put the work in and won’t shy away from negotiating, contact Wilmot Innovation Limited!
                    </blockquote>
                          </div>
            </div></div>
        <div class="item">
            <div class="card">
                <div class="content">
                    <div class="title">Ibrahim Timothy</div>
                    <div class="sub-title">footballer</div>
                    <blockquote>
                       Willmot Innovation are  friendly, professional and tenacious! They stayed after my deal, continuously following up with all parties until we closed. I couldn’t be more pleased.
                    </blockquote>
                          </div>
            </div></div>
        <div class="item">
            <div class="card">
                <div class="content">
                    <div class="title">Timothy Tijani</div>
                    <div class="sub-title">Abroad Based</div>
                    <blockquote>
                        The office is easy to access, clean and professionally appointed and there are plenty of treasures hidden inside. One of those is Wilmot Innovation. They are personable, professional, and knowledgeable. We had had our house on the market for 6 months with very little movement. When we contracted with Wilmot Innovation, it sold in 3 even with a pandemic raging. They know realty guidelines inside and out and answered our questions always within a day; usually much shorter.
                    </blockquote>
                          </div>
            </div></div>
        <div class="item">
            <div class="card">
                <div class="content">
                    <div class="title">Emeka Achibuzor</div>
                    <div class="sub-title">Facebook</div>
                    <blockquote>
                        I cannot express how pleased I was dealing with Wilmot Innovation.They were extremely helpful and were always in constant contact with me. I never once had to wonder if they were doing their best to sell my property. I had tried 2 other realtors before them with no luck. Wilmot Innovation was able to sell my property fast and made it really easy for me. I am so happy I chose them as my realtor. I recommend them to anyone that wants to sell their property.
                    </blockquote>
                          </div>
            </div></div>
        <div class="item">
            <div class="card">
                <div class="content">
                    <div class="title">Fatima Oladimeji</div>
                    <div class="sub-title">@nursefati22</div>
                    <blockquote>
                       Wiillmot Innovation was a joy to work with! They really went above and beyond in pursuit of our specific real estate needs, and worked through a challenging buying scenario so we were able to get exactly what we wanted. Wilmot was extremely responsive and communicated with us throughout the process. they definitely have a passion for what they do and their love for the job made our buying experience a positive and easy one. We would highly recommend them to our family and friends for all of their real estate needs!
                    </blockquote>
                          </div>
            </div></div>
        <div class="item">
            <div class="card">
                <div class="content">
                    <div class="title">Eric Obinna</div>
                    <div class="sub-title">Lagos ,Nigeria</div>
                    <blockquote>
                        100% satisfied with Wilmot Innovation's help. They went above and beyond to help us out in the process. They are  knowledgeable and trustworthy. Thank you for your 100% commitment!
                    </blockquote>
                          </div>
            </div></div>
        <div class="item">
            <div class="card">
                <div class="content">
                    <div class="title">Migty Moses </div>
                    <div class="sub-title">Port Harcout</div>
                    <blockquote>
                        I did not have an appointment and as I was only in Abuja for the week, they quickly set up appointments to view homes that met my specifications. By the end of the week, I found one that I really liked and they worked with me within days and closed doing most of the paperwork via computer. I highly recommend them!
                    </blockquote>
                          </div>
            </div></div>
    </div>
</div>
 <div class="container">
    <div class="owl-carousel owl-theme">
        <div class="item" >
            <div class="imgpix">
                <img src="/static/images/pic/wilmot3.jpg" alt="">
            </div>
        </div>
        <div class="item" >
            <div class="imgpix">
                <img src="/static/images/pic/wilmot7.jpg" alt="">
            </div>
        </div>
        <div class="item">
            <div class="imgpix">
                <img src="/static/images/pic/wilmot6.jpg" alt="">
            </div>
        </div>
        <div class="item">
            <div class="imgpix">
                <img src="/static/images/pic/wilmot9.jpg" alt="">
            </div>
        </div>
        <div class="item">
            <div class="imgpix">
                <img src="/static/images/pic/wilmot3.jpg" alt="">
            </div>
        </div>
        <div class="item">
            <div class="imgpix">
                <img src="/static/images/background/house18.jpg" alt="">
            </div>
        </div>
        <div class="item">
            <div class="imgpix">
                <img src="/static/images/background/house13.jpg" alt="">
            </div>
        </div>
        <div class="item">
            <div class="imgpix">
                <img src="/static/images/background/property3.jpg" alt="">
            </div>
        </div>
        <div class="item">
            <div class="imgpix">
                <img src="/static/images/background/property2.jpg" alt="">
            </div>
        </div>
        <div class="item">
            <div class="imgpix">
                <img src="/static/images/background/house14.jpg" alt="">
            </div>
        </div>
        <div class="item">
            <div class="imgpix">
                <img src="/static/images/background/house13.jpg" alt="">
            </div>
        </div>
        <div class="item">
            <div class="imgpix">
                <img src="/static/images/pic/wilmot10.jpg" alt="">
            </div>
        </div>
    </div>
 </div>
</div>










 <script>
     $(document).ready(function(){
    if ($('.owl-carousel').length){
    $('.owl-carousel').owlCarousel({
        loop:true,
        //margin:10,
        nav:true,

       // autoplayTimeout: 2000,
        autoplay:true,
    //autoplayTimeout:10000,
    //autoPlayHoverPause:false,
        //animateOut: 'slideOutDown',
        //animateIn: 'flipInX',
        responsiveClass:true,
        responsive:{
            0:{
                items:1,
                
            },
            600:{
                items:2,
               
            },
            1000:{
                items:3,
               
                loop:true,
            }
        }
    })
}
})


 </script>



{% include 'footer.html' %}

{% endblock %}